//- base.pug
html
  head
    title Dance Academy
    
  
         
    block style
body 
     nav
          ul 
            div#logo 
                 img(src='/static/545.jpg')
            li #[a(href="/")  Home]                                                          
            li #[a(href="/")  About] 
            li #[a(href="/")  Info]
            li #[a(href="/")  Services]
            li #[a(href="/contact") Contact]            
block content
footer#footer
                 p Copyright (c) HsyDanceAcademy.com | All rights reserved
    

