extends base.pug


   
block  style
            style
                include ../static/style.css

block content
    
     section#sectionintro
         div#text Welcome to HSY Dance Academy
         div#text Eat Sleep Dance Repeat

     section#sectionmission 
         h2 Our Mission
         div.card
             h4 Dance perfection
             div.card-box
             div.card-img 
                  img(src='/static/9001.png')
             div.card-content
                  p  This is the best dance academy in the world.
         div.card 
             h4 Dance the way you like
             div.card-box
                  div.card-img 
                      img(src='/static/9001.png')
                  div.card-content
                        p  This is the best dance academy in the world.
         div.card
             h4 Expert Teaching
             div.card-box
                 div.card-img
                      img(src='/static/9001.png')
                 div.card-content
                      p  This is the best dance academy in the world.

     section#sectionsponser
             h2 Sponsers 
             div.mysponsers
                 div.spons
                     img(src='/static/Adidas.jpg')
                 div.spons 
                     img(src='/static/almas.jpg')
                 div.spons
                     img(src='/static/fragrance.jpg')     
                 div.spons
                      img(src='/static/Charcol.jpg')     
     